<!DOCTYPE html>
<html>

<head>
<title>Angular Tuto</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>

<body>

<div data-ng-app="myApp" data-ng-controller="myCtrl">
    
<p>Filter : <input type="text" data-ng-model="myFilter"></p>

<ul>
  <li data-ng-repeat="x in Countries | filter:myFilter | orderBy:'Name'">
    {{ 'Country : ' + x.Name + ', Population : ' + x.Population }}
  </li>
</ul>

</div>
    
    <script src="Controller.js"></script>

</body>
</html>