<!DOCTYPE html>
<html>

<head>
<title>Angular Tuto</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
</head>

<body>

<div data-ng-app="myApp" data-ng-controller="customersCtrl"> 

<p>Filter : <input type="text" data-ng-model="myFilter"></p>

<table border="1">
  <tr data-ng-repeat="x in names | filter:myFilter | orderBy:'Name'">
    <td>{{ x.Name }}</td>
    <td>{{ x.Country }}</td>
  </tr>
</table>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
    $http.get("http://www.w3schools.com/website/Customers_JSON.php")
    .success(function(response) {$scope.names = response;});
});
</script>

</body>
</html>